@model BookStore.Models.Theloaitin
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<p>ID Loai tin: @Model.IDLoai</p>
<p>Ten Loai tin: @Model.Tentheloai</p>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDLoai }) |
    @Html.ActionLink("Details", "Details", new { id = Model.IDLoai }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.IDLoai })
</p>
