@model BookStore.Models.Theloaitin
@{
    ViewBag.Title = "ThemMoi";
}

<h2>ThemMoi</h2>
<form action="/Home/Create" method="POST">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Theloaitin</legend>
        <div class="editor-label">
            Ma The Loai
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IDLoai)
            @Html.ValidationMessageFor(model => model.IDLoai)
        </div>
        <div class="editor-label">
            Ten The Loai
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tentheloai)
            @Html.ValidationMessageFor(model => model.Tentheloai)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
</form>

<div>
    @Html.ActionLink("Back to List","Index")
</div>
